<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>768796824422-lt85osfnpfm48itfoirefsgpjmj1suke.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.768796824422-lt85osfnpfm48itfoirefsgpjmj1suke</string>
	<key>API_KEY</key>
	<string>AIzaSyDDLIMsg4TTbLcYa_kW6k5ZeIwFEG5pex8</string>
	<key>GCM_SENDER_ID</key>
	<string>768796824422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.presbiterianaRenovadaApp</string>
	<key>PROJECT_ID</key>
	<string>presbiteriana-renovada-app</string>
	<key>STORAGE_BUCKET</key>
	<string>presbiteriana-renovada-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:768796824422:ios:0ec37a71f100329f366ea7</string>
	<key>DATABASE_URL</key>
	<string>https://presbiteriana-renovada-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>